<footer id="footer" class="footer-1">
  <div class="main-footer widgets-dark typo-light ">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget subscribe no-box">
            <h5 class="widget-title">Help in House<span></span></h5>
            <p class="">Qualidade e Segurança na palma da sua mão! </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Links Úteis<span></span></h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content"><a href="#.">Quem Somos</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">Trabalhe Conosco</a></div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">

          <div class="widget no-box">
            <h5 class="widget-title">Contact Us<span></span></h5>

            <p><a href="contato.helpinhouse@outlook.com"
                title="glorythemes">contato.helpinhouse@outlook.com</a></p>
            <ul class="social-footer2">
              <li class=""><a title="youtube" target="_blank" href="https://www.facebook.com/profile.php?id=100070571642027"><i
                    class="fa fa-facebook-official fs-4" aria-hidden="true"></i>
                </a></li>
              <li class=""><a href="https://www.instagram.com/contato.helpinhouse/" target="_blank" title="Instagram"><i class="fa fa-instagram fs-4"
                    aria-hidden="true"></i>

                </a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Feito com 💖 por Saturno © 2022.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
