<div
    class="bg height container-fluid pt-4 pb-3 d-flex flex-column justify-content-center align-items-center align-content-center">
    <div class="w-100">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-light">Endereço de E-mail:</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu e-mail">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-light">Senha:</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite sua senha">
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-outline-warning w-50">Logar</button>
        </div>
        <p class="text-light mt-2 text-center">Não tem uma conta? <a routerLink="/register-autonomous" class="text-warning">Cadastre-se!</a></p>
    </div>
</div>