<nav class="d-flex bg-dark">
    <div class="container-fluid d-flex align-items-center">
      <img class="navbar-brand rounded-circle perfil-size m-2" src="https://img.freepik.com/fotos-gratis/retrato-de-reparador-mulher-com-rolo-pintura-isolado_1303-14259.jpg">
      <h3 class="text-light ms-2">Ana Silva</h3>
    </div>
  </nav>

  <div class="container-fluid height bg d-flex align-items-end w-100 justify-content-center">
    <div class="row d-flex align-items-end w-100 mb-2 ">
        <input type="text" class="form-control rounded-pill p-2" placeholder="Mensagem">
    </div>
  </div>